<!doctype html>
<html lang="en">
<head>

<title>MantraDiamond</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/style.css">
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/colors/blue.css">
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/sweetalert.min.css">
<style type="text/css">
table td{
	display: table-cell !important;
	width: 10% !important;
	border-bottom: none !important;
	background-color: #eee !important;
}
table th{
	display: table-cell !important;
	width: 10% !important;
}
table{
	padding: 9px !important;
}
.near_by_hotel_wrapper{
	background:#f5f5f5;
	}
.custom_table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -3px !important;
}
.custom_table thead tr th {
	padding: 0px 8px;
	font-size: 16px;
	border: 0 none !important;
	border-top: 0 none !important;
}
.custom_table tbody tr {
    -moz-box-shadow: 0 2px 3px #e0e0e0;
    -webkit-box-shadow: 0 2px 3px #e0e0e0;
    box-shadow: 0 2px 3px #e0e0e0;
}
.near_by_hotel_wrapper table tr td {
	border-right: 1px solid #d2d1d1;
}

.custom_table tbody tr td {
	background: #fff none repeat scroll 0 0;
	border-top: 0 none !important;
	margin-bottom: 20px;
	padding: 10px 8px;
	font-size: 16px;
}
.near_by_hotel_wrapper table tr td {
    border-right: 1px solid #d2d1d1;
}	
</style>
</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<!-- <?php include('header.php');?> -->
<%- include ('header.html'); %>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard Container -->
<div class="dashboard-container">

	<%- include ('dashboard-leftlayout.html'); %>
	<!-- <?php include('dashboard-leftlayout.php');?> -->
	<!-- Dashboard Content
	================================================== -->
	<style type="text/css">

		input {
			height: 55px
		}

	</style>
	<div class="dashboard-content-container row">
		<div class="dashboard-content-inner col-xl-6">

			<div class="col-xl-12" style="margin-bottom:20px;">
				<div id="test1" class="dashboard-box">

					<div class="content with-padding" style="padding: 20px 10px 0px 20px;">
						<h3>Top Banner</h3>
						<form action="<%=BaseUrl%>/addbanner" method="post" enctype="multipart/form-data">
							<div class="row">
								<div class="col-xl-6">
									<div class="submit-field">
										<div class="margin-top-30">
											
											<input type="file" name="uploaded_image" required/>
											<!-- <label class=" ripple-effect" for="upload">Upload File</label>
											<span class="uploadButton-file-name">Image or document that might be helpful in describing your job</span> -->
										</div>
									</div>
								</div>

								<div class="col-xl-5">
									<div class="submit-field">
										<div class="button margin-top-30">
											<button class="button ripple-effect" style="width:100%;text-align:center;">Add Banner</button>
										</div>
									</div>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline" style="padding-top: 45px;">
				<h3>&nbsp;&nbsp;All Products</h3>
			</div>
			<!-- Row -->
			<div class="row">
				<div class="col-xl-12 col-md-12 responsive">
					<table class="table no-border custom_table dataTable no-footer dtr-inline" style="width: 100%;background-color:#fff;">

						<thead>
							<tr>
								<th class="text-center">S.No</th>
								<th class="text-center">Image</th>
								<th class="text-center">Delete</th>
							</tr>
						</thead>

						<tbody style="background-color: #eee;" id="services">
							<% if (data.length > 0) { var con = '1'; %>
							<% for(var i = 0; i < data.length; i++ ) { %>
							<tr>
								<td><%= con %></td>
								<td><img src="../jewellery/image/<%= data[i].image %>" width="100" alt="product image"></td>
								<td class="text-center">
									<button onclick="archiveFunction('<%=BaseUrl%>/deletebanner/<%= data[i]._id %>')" id="<%=BaseUrl%>/deletebanner/<%= data[i]._id %>" class="button" style="background-color:#dc3139;width: 60px !important;height: 45px;"><i class="icon-feather-trash-2"></i>
									</button>
								</td>
							</tr>
							<% con++; } }
							else
							{
								%>
								<tr>
									<td colspan="8"><center>No Record Found!</center></td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>	
				</div>
			</div>

			<div class="dashboard-content-inner col-xl-6" >
				<div class="col-xl-12" style="margin-bottom:20px;">
					<div id="test1" class="dashboard-box">
						<div class="content with-padding" style="padding: 20px 10px 0px 20px;">
							<h3>Bottom Poster</h3>
							<form action="<%=BaseUrl%>/addposter" method="post" enctype="multipart/form-data">
								<div class="row">
									<div class="col-xl-6">
										<div class="submit-field">
											<div class=" margin-top-30">
												<input type="file" name="uploaded_image" required/>
												<!-- <label for="upload">Upload File</label> -->
												<!-- <span class="uploadButton-file-name">Image or document that might be helpful in describing your job</span> -->
											</div>
										</div>
									</div>

									<div class="col-xl-5">
										<div class="submit-field">
											<div class="button margin-top-30">
												<button class="button ripple-effect" style="width:100%;text-align:center;">Add Poster</button>
											</div>
										</div>
									</div>

								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- Dashboard Headline -->
				<div class="dashboard-headline" style="padding-top: 45px;">
					<h3>&nbsp;&nbsp;All Products</h3>
				</div>
				<!-- Row -->
				<div class="row">
					<div class="col-xl-12 col-md-12 responsive">
						<table class="table no-border custom_table dataTable no-footer dtr-inline" style="width: 100%;background-color:#fff;">
							<thead>
								<tr>
									<th class="text-center">S.No</th>
									<th class="text-center">Image</th>
									<th class="text-center">Delete</th>
								</tr>
							</thead>
							<tbody style="background-color: #eee;" id="services">
								<% if (data1.length > 0) { var con = '1'; %>
								<% for(var i = 0; i < data1.length; i++ ) { %>
								<tr>
									<td><%= con %></td>
									<td><img src="../jewellery/image/<%= data1[i].image %>" width="100" alt="product image"></td>
									<td class="text-center">
										<button onclick="archiveFunction('<%=BaseUrl%>/deleteposter/<%= data1[i]._id %>')" id="<%=BaseUrl%>/deleteposter/<%= data1[i]._id %>" class="button" style="background-color:#dc3139;width: 60px !important;height: 45px;"><i class="icon-feather-trash-2"></i>
										</button>
									</td>
								</tr>
								<% con++; } }
								else
								{
									%>
									<tr>
										<td colspan="8"><center>No Record Found!</center></td>
									</tr>
									<% } %>
								</tbody>
							</table>
						</div>	
					</div>
				</div>






	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->




<!-- Scripts
================================================== -->
<script src="<%=BaseUrl%>/adminPanel/js/jquery-3.3.1.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/jquery-migrate-3.0.0.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/mmenu.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/tippy.all.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/simplebar.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/bootstrap-slider.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/bootstrap-select.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/snackbar.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/clipboard.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/counterup.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/magnific-popup.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/slick.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/custom.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/sweetalert.min.js"></script>
<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->

	<script type="text/javascript">

		function archiveFunction(id) {
	event.preventDefault(); // prevent form submit
	var form = event.target.form; // storing the form
	swal({
		title: "Are you sure?",
		text: "are you sure you want to Delete this Product.",
		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "Yes continue !",
		cancelButtonText: "No, cancel please!",
		closeOnConfirm: false,
		closeOnCancel: false
	},
	function(isConfirm){
		if (isConfirm) {
			swal("Good job!", "Blocked User!", "success");
			$.ajax({
				url: ''+id,
				type: 'POST',
				success: function(results){
					console.log("results::",results);
		        location.reload(); // then reload the page.(3)
		    }
		});	
		} else {
			swal("Cancelled", "Request Cancelled!", "error");
		}
	});
}

</script>

</body>
</html>