	<div class="dashboard-sidebar">
		<div class="dashboard-sidebar-inner" data-simplebar>
			<div class="dashboard-nav-container">

				<!-- Responsive Navigation Trigger -->
				<a href="#" class="dashboard-responsive-nav-trigger" hidden>
					<span class="hamburger hamburger--collapse" >
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
					<span class="trigger-title">Dashboard Navigation</span>
				</a>
				
				<!-- Navigation -->
				<div class="dashboard-nav">
					<div class="dashboard-nav-inner">

						<ul data-submenu-title="Start">
 

							<li><a href="<%=BaseUrl%>/category"><i class="icon-material-outline-dashboard"></i> Category</a></li> 

						</ul>
						<ul data-submenu-title="Organize and Manage">

							<li><a href="<%=BaseUrl%>/addProduct"><i class="icon-feather-users"></i> Add Product  </a></li>

							<li><a href="<%=BaseUrl%>/product/1"><i class="icon-feather-image"></i> View Product</a></li>

							<li><a href="<%=BaseUrl%>/banner"><i class="icon-material-outline-loyalty"></i> Banner</a></li>

							<li><a href="<%=BaseUrl%>/inquiry/1"><i class="icon-feather-user"></i> Inquiry</a></li>

							<li><a href="<%=BaseUrl%>/pricerise"><i class="icon-material-outline-monetization-on"></i>Price Rise</a></li>
						</ul>

						<ul data-submenu-title="Account">
							<li><a href="<%=BaseUrl%>/logout"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
						</ul>
						
					</div>
				</div>
				<!-- Navigation / End -->

			</div>
		</div>
	</div>
	<!-- Dashboard Sidebar / End -->