<!doctype html>
<html lang="en">
<head>

	<title>MantraDiamond</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/style.css">
	<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/colors/blue.css">
	<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/sweetalert.min.css">
	<style type="text/css">

		table td{
			display: table-cell !important;
			width: 10% !important;
			border-bottom: none !important;
			background-color: #eee !important;
		}
		table th{
			display: table-cell !important;
			width: 10% !important;
		}
		table{
			padding: 9px !important;
		}
		.near_by_hotel_wrapper{
			background:#f5f5f5;
		}
		.custom_table {
			border-collapse: separate;
			border-spacing: 0 10px;
			margin-top: -3px !important;
		}
		.custom_table thead tr th {
			padding: 0px 8px;
			font-size: 16px;
			border: 0 none !important;
			border-top: 0 none !important;
		}
		.custom_table tbody tr {
			-moz-box-shadow: 0 2px 3px #e0e0e0;
			-webkit-box-shadow: 0 2px 3px #e0e0e0;
			box-shadow: 0 2px 3px #e0e0e0;
		}
		.near_by_hotel_wrapper table tr td {
			border-right: 1px solid #d2d1d1;
		}

		.custom_table tbody tr td {
			background: #fff none repeat scroll 0 0;
			border-top: 0 none !important;
			margin-bottom: 20px;
			padding: 10px 8px;
			font-size: 16px;
		}
		.near_by_hotel_wrapper table tr td {
			border-right: 1px solid #d2d1d1;
		}
		.dialog-with-tabs .button{
			margin-top: 0px !important;
		}	
		.newbutton{
			background-color: #fff;
			padding: 5px 10px;
			border-radius: 5px;
			margin: 2px;
			box-shadow: 0 2px 8px rgba(0,0,0,.08);
		}
		.responsive{
			overflow-x:auto !important;
		}
		tr td,tr th{
			min-width: 100px !important;
			text-align: left !important;
		}

	</style>
</head>
<body class="gray">


	<div id="wrapper">

		<%- include('header.html');%>
		<div class="clearfix"></div>




		<div class="dashboard-container">

			<%- include('dashboard-leftlayout.html');%>

			<div class="dashboard-content-container" data-simplebar>
				<div class="dashboard-content-inner" >


					<div class="dashboard-headline">
						<center><h3><strong>your Product With : Jewellery</strong></h3></center>
					</div>


					<form action="<%=BaseUrl%>/editproduct/<%= data._id %>" method="post" enctype="multipart/form-data">
						<div class="row">

							<div class="col-xl-8 offset-xl-2">
								<div class="dashboard-box margin-top-0">


									<div class="headline">
										<h3><i class="icon-feather-folder-plus"></i> Edit Product</h3>
									</div>

									<div class="content with-padding padding-bottom-10">
										<div class="row">

											<div class="col-xl-6">
												<div class="submit-field">
													<h5>Product Name</h5>
													<input type="text" value="<%= data.name %>" class="with-border" name="name" maxlength="50" required>
												</div>
											</div>
											<div class="col-xl-6">
												<div class="submit-field">
													<h5>Price</h5>
													<input type="number" class="with-border" value="<%= data.price %>" name="price" maxlength="11" required>
												</div>
												</div>
												<!-- <input type="hidden" name="email" value="<?php echo $registerData['email']; ?>"> -->
												<div class="col-xl-6">
													<div class="submit-field">
														<h5>Select category</h5>
														<select  data-size="7" title="Select City" name="category"  maxlength="20" style="padding-bottom: 0px;padding-top: 0px;" onChange="getState(this.value);"  required>
															
                                                                <option value="<%= data.category %>" selected> <%= data2.name %> </option>
                                                                <% for(var i = 0; i < data1.length; i++){ %>
                                                                <option value="<%= data1[i].name %>"> <%= data1[i].name %> </option>
															<% } %>
														</select>
													</div>
                                                </div>


												<div class="col-xl-6">
													<div class="submit-field">
														<h5>Select Subcategory</h5>
														<select class="with-border" id="state-list" title="Select subCategory" name="subcategory">
															<option value="<%= data.subcategory %>" selected><%= data3.name %></option>
															<% for(var i = 0; i < data4.length; i++){ %>
                                                                <option value="<%= data4[i]._id %>"> <%= data4[i].name %> </option>
															<% } %>
														</select>
													</div>
												</div>

												<div class="col-xl-12">
													<div class="submit-field">
														<h5>Description</h5>
														<textarea cols="30" rows="5" value="<%= data.description %>" name="description" class="with-border"><%= data.description %></textarea>
														
													</div>
												</div>


                                                
                                                <div class="col-xl-12" style="margin-bottom: 20px;">
                                                    <center>
                                                        <button type="submit" class="post-service button ripple-effect big margin-top-30">Post A Service <i class="icon-feather-plus"></i></button>
                                                    </center>
                                                </div>

													
												</div>
											</div>
										</div>
									</div>
								</div>
                            </form><br><br>
                            
                            <form action="<%=BaseUrl%>/editproductimage/<%= data._id %>" method="post" enctype="multipart/form-data">
                                <div class="row">
        
                                    <div class="col-xl-8 offset-xl-2">
                                        <div class="dashboard-box margin-top-0">
        
        
                                            <div class="headline">
                                                <h3><i class="icon-feather-folder-plus"></i> Edit Product</h3>
                                            </div>
        
                                            <div class="content with-padding padding-bottom-10">
                                                <div class="row">
        
        
                                                            <div class="col-xl-12">
                                                                <div class="submit-field">
                                                                    <div class="uploadButton margin-top-30">
                                                                        <input class="uploadButton-input" value="<%= data.image %>" type="file" accept="image/*" name="uploaded_image" id="upload"required/>
                                                                        <label class="uploadButton-button ripple-effect" for="upload">Upload File</label>
                                                                        <span class="uploadButton-file-name">Image or document that might be helpful in describing your job</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-xl-12">
                                                                <center>
                                                                    <button type="submit" class="post-service button ripple-effect big margin-top-30">Post A Service <i class="icon-feather-plus"></i></button>
                                                                </center>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
							<%- include('footer.html'); %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="<%=BaseUrl%>/adminPanel/js/jquery-3.3.1.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/jquery-migrate-3.0.0.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/mmenu.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/tippy.all.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/simplebar.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/bootstrap-slider.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/bootstrap-select.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/snackbar.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/clipboard.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/counterup.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/magnific-popup.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/slick.min.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/custom.js"></script>
	<script src="<%=BaseUrl%>/adminPanel/js/sweetalert.min.js"></script>


		<script> 
	function getState(val) { 
	$.ajax({
		type: "GET",
		url: "<%=BaseUrl%>/getsubcategory/"+val,
		success: function(data1){

		    console.log("results ::::::: ", data1);

				var output = ['<option value="" selected>Select Subcategory</option>'];
				for (var i = 0; i < data1.length; i++) {

					output.push('<option value='+ data1[i]['_id'] +'>'+ data1[i]['name'] +'</option>');
				}
				
				$('#state-list').html(output.join(''));
		}
		});
    } 
</script>

</body>
</html>