<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth dashboard-header not-sticky">

	<!-- Header -->
	<div id="header">
		<div class="container">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation">
					<ul id="responsive">
 

						<li><a href="<%=BaseUrl%>/category"><i class="icon-material-outline-dashboard"></i> &nbsp;&nbsp;&nbsp;Category</a></li> 


						<li><a href="<%=BaseUrl%>/addProduct"><i class="icon-feather-users"></i> &nbsp;&nbsp;&nbsp;Add Product  </a></li>

						<li><a href="<%=BaseUrl%>/product/1"><i class="icon-material-outline-location-city"></i> &nbsp;&nbsp;&nbsp;View Product</a></li>

						<li><a href="<%=BaseUrl%>/banner"><i class="icon-material-outline-loyalty"></i> &nbsp;&nbsp;&nbsp;Banner</a></li>

						<li><a href="<%=BaseUrl%>/inquiry/1"><i class="icon-material-outline-loyalty"></i> &nbsp;&nbsp;&nbsp;Inquiry</a></li>
					
						<li><a href="<%=BaseUrl%>/logout"><i class="icon-material-outline-power-settings-new"></i> &nbsp;&nbsp;&nbsp;Logout</a></li>
					
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
				
			</div>
			<!-- Left Side Content / End -->


			<!-- Right Side Content / End -->
			<div class="right-side">

				<!-- Mobile Navigation Button -->
				<span class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</span>

			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>