<!doctype html>
<html lang="en">
<head>

<title>MantraDiamond</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/style.css">
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/colors/blue.css">
<link rel="stylesheet" href="<%=BaseUrl%>/adminPanel/css/sweetalert.min.css">
<style type="text/css">
table td{
	display: table-cell !important;
	width: 10% !important;
	border-bottom: none !important;
	background-color: #eee !important;
}
table th{
	display: table-cell !important;
	width: 10% !important;
}
table{
	padding: 9px !important;
}
.near_by_hotel_wrapper{
	background:#f5f5f5;
	}
.custom_table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -3px !important;
}
.custom_table thead tr th {
	padding: 0px 8px;
	font-size: 16px;
	border: 0 none !important;
	border-top: 0 none !important;
}
.custom_table tbody tr {
    -moz-box-shadow: 0 2px 3px #e0e0e0;
    -webkit-box-shadow: 0 2px 3px #e0e0e0;
    box-shadow: 0 2px 3px #e0e0e0;
}
.near_by_hotel_wrapper table tr td {
	border-right: 1px solid #d2d1d1;
}

.custom_table tbody tr td {
	background: #fff none repeat scroll 0 0;
	border-top: 0 none !important;
	margin-bottom: 20px;
	padding: 10px 8px;
	font-size: 16px;
}
.near_by_hotel_wrapper table tr td {
    border-right: 1px solid #d2d1d1;
}	
</style>
</head>
<body class="gray">

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<!-- <?php include('header.php');?> -->
<%- include ('header.html'); %>
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard Container -->
<div class="dashboard-container">

	<%- include ('dashboard-leftlayout.html'); %>
	<!-- <?php include('dashboard-leftlayout.php');?> -->
	<!-- Dashboard Content
	================================================== -->
	<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>All Products</h3>
			</div>
			<!-- Row -->
		<div class="row">
			<div class="col-xl-12 col-md-12 responsive">
				<table class="table no-border custom_table dataTable no-footer dtr-inline" style="width: 100%;background-color:#fff;">
				    <thead>
				      <tr>
						<th class="text-center">S.No</th>
						
						<th class="text-center">Image</th>
				        <th class="text-center">Name</th>
						<th class="text-center">Price</th>
						<th class="text-center">Description</th>
						<th class="text-center">Category</th>
						<th class="text-center">SubCategory</th>
						<th class="text-center">Top Selling</th>
						<th class="text-center">Special Product</th>
						<th class="text-center">Edit</th>
				        <th class="text-center">Delete</th>
				      </tr>
				    </thead>
				    <tbody style="background-color: #eee;" id="services">
				    	<% if (data.length > 0) { var con = '1'; %>
								<% for(var i = 0; i < data.length; i++ ) { %>
				    			<tr>
									<td><%= con %></td>
									<td><img src="../jewellery/image/<%= data[i].image %>" width="80" alt="product image"></td>
					    			<td><%= data[i].name %></td>
									<td>Rs. <%= data[i].price %></td>
									<td><%= data[i].description%></td>
									<td><%= data[i].categoryName%></td>
									<td><%= data[i].subcategoryName%></td>
									<td>
										<label class="switch">
											<input type="checkbox" onclick="archiveFunctions('<%=BaseUrl%>/tselling/<%= data[i]._id %>')" id="<%=BaseUrl%>/tselling/<%= data[i]._id %>" <%= data[i].tselling %> >
											<span class="switch-button"></span>
										</label>
									</td>

									<td>
										<label class="switch">
											<input type="checkbox" onclick="archiveFunctionss('<%=BaseUrl%>/lcollection/<%= data[i]._id %>')" id="<%=BaseUrl%>/lcollection/<%= data[i]._id %>" <%= data[i].lcollection %>>
											<span class="switch-button"></span>
										</label>
									</td>
									<!-- <td><%= data[i].position %></td>	 -->
									<td class="text-center">
										<a href="<%=BaseUrl%>/editproduct/<%= data[i]._id %>">
											<button class="button" style="background-color:#2fc228; width: 60px !important;height: 45px;"><i class="icon-feather-edit-2"></i>
											</button>
									    </a>
									</td>									
									<td class="text-center">
									    <button onclick="archiveFunction('<%=BaseUrl%>/deleteproduct/<%= data[i]._id %>')" id="<%=BaseUrl%>/deleteproduct/<%= data[i]._id %>" class="button" style="background-color:#dc3139;width: 60px !important;height: 45px;"><i class="icon-feather-trash-2"></i>
										</button>
									</td>
					    		</tr>
				    	<% con++; } }
				    	  else
				    	  {
				    		%>
				    		<tr>
				    			<td colspan="10"><center>No Record Found!</center></td>
				    		</tr>
				    	<% } %>
				    </tbody>
				  </table>
			</div>	

		</div>
		<!-- Pagination -->
			<div class="clearfix"></div>
						<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-30 margin-bottom-60">
						<nav class="pagination">
							<% if (pages > 0) { %>
								<ul class="pagination justify-content-end" id="pagination">
								  <% if (current == 1) { %>
									<li class="disabled"><a class="btn btn-default"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
								  <% } else { %>
									  <li><a class="btn btn-default" href="/product/1"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
								  <% } %>
								  <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
								  <% if (i !== 1) { %>
									  <li class="disabled"><a>...</a></li>
								  <% } %>
								  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
									  <% if (i == current) { %>
										  <li class="pagination-arrow" class="active"><a class="btn btn-default"><%= i %></a></li>
									  <% } else { %>
										  <li><a class="btn btn-default" href="/product/<%= i %>"><%= i %></a></li>
									  <% } %>
									  <% if (i == Number(current) + 4 && i < pages) { %>
										  <li class="disabled"><a>...</a></li>
									  <% } %>
								  <% } %>
								  <% if (current == pages) { %>
									  <li class="disabled"><a class="btn btn-default"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
								  <% } else { %>
									  <li><a class="btn btn-default" href="/product/<%= pages %>"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
								  <% } %>
				
								</ul>
							  <% } %>
						</nav>
					</div>
				</div>
			</div>

			<!-- Pagination / End -->
			
			
		</div>
	</div>
	<!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->




<!-- Scripts
================================================== -->
<script src="<%=BaseUrl%>/adminPanel/js/jquery-3.3.1.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/jquery-migrate-3.0.0.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/mmenu.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/tippy.all.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/simplebar.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/bootstrap-slider.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/bootstrap-select.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/snackbar.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/clipboard.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/counterup.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/magnific-popup.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/slick.min.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/custom.js"></script>
<script src="<%=BaseUrl%>/adminPanel/js/sweetalert.min.js"></script>
<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->


	<script type="text/javascript">

		$(function() {

  $('#toggleWidth').on('click', function(e) {

    $('.multiLineLabel').toggleClass('maxWidth');

  });

})

		function archiveFunction(id) {
	event.preventDefault(); // prevent form submit
	var form = event.target.form; // storing the form
	swal({
		title: "Are you sure?",
		text: "are you sure you want to Delete this Product.",
		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "Yes continue !",
		cancelButtonText: "No, cancel please!",
		closeOnConfirm: false,
		closeOnCancel: false
	},
	function(isConfirm){
		if (isConfirm) {
			swal("Good job!", "Blocked User!", "success");
			$.ajax({
				url: ''+id,
				type: 'POST',
				success: function(results){
					console.log("results::",results);
		        location.reload(); // then reload the page.(3)
		    }
		});	
		} else {
			swal("Cancelled", "Request Cancelled!", "error");
		}
	});
}

</script>


<script type="text/javascript">

	function archiveFunctions(id) {

		$.ajax({
			url: ''+id,
			type: 'POST',
			success: function(results){
				console.log("results::",results);
			location.reload(); // then reload the page.(3)
		}
	})
}

</script>

<script type="text/javascript">

	function archiveFunctionss(id) {

		$.ajax({
			url: ''+id,
			type: 'POST',
			success: function(results){
				console.log("results::",results);
			location.reload(); // then reload the page.(3)
		}
	})
}

</script>


</body>
</html>